/*----------------- common style start here  -----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #1d1d1d;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 122px;
  height: 38.13px;
  background: #ffcb45;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #1d1d1d;
}

/* ****** Header Section Style start Here  ****** */
header {
  background-color: #fff9ea;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.logo img {
  padding: 25px 0;
}
.navbar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.navbar nav ul li {
  list-style: none;
  padding: 10px;
}
.navbar nav ul li a {
  color: rgba(29, 29, 29, 0.7);
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}
.sight-container {
  display: flex;
  align-items: center;
}
.nav-button {
  width: 122px;
  height: 38.13px;
  left: 1188px;
  top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  gap: 16px;
  border: none;

  background: #ffcb45;
  border-radius: 50px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #1d1d1d;
}
.hero {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.hero_section {
  background-image: url(../Assets/Images/shapes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
}
.hero_section p {
  height: 46px;
  left: 135px;
  top: 425px;
  margin-top: 22px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 370px;
  height: 46px;
  color: rgba(29, 29, 29, 0.7);
}
.hero_section button {
  margin-top: 23px;
}
/* ****** Header Section Style end Here  ****** */

/* ****** Main Section Style start Here  ****** */

/*How it works section style start here */
.how-it-work-text {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 32px;
}
.how-it-work-text h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #ffcb45;
  margin-bottom: 7px;
}
.how-it-work-text h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 26px;
  color: #1d1d1d;
}
.how-it-work-text p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(29, 29, 29, 0.7);
  width: 611px;
  height: 56px;
  margin: 0 auto;
}
.how-it-work-cards {
  margin: 32px 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
.how-it-work-card {
  text-align: center;
}
.how-it-work-card img {
  width: 180px;
  height: 180px;
}
.how-it-work-card h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #1d1d1d;
  margin-bottom: 15px;
}
.how-it-work-card p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  width: 234px;
  height: 50px;
  color: rgba(29, 29, 29, 0.7);
  margin: 0 auto;
}

/* our-popular-menu start here  */

.our-popular-menu {
  margin: 32px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.our-popular-menu-text p {
  width: 518px;
}
.our-popular-menu-card {
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.15);
  width: 280px;
  background: #f1f1f1;
  height: 347px;
  border-radius: 10px;
}
.our-popular-menu-card h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #1d1d1d;
  margin-bottom: 5px;
}
.popular-card-text {
  background-image: url(../Assets/Images/Rectangle\ 10.png);
  background-repeat: no-repeat;
  width: 280px;
  height: 112px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  margin-top: 13px;
}
.price span {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;

  /* black */

  color: #1d1d1d;
}
.price i {
  color: rgba(29, 29, 29, 0.7);
}
.popular-card-title {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(29, 29, 29, 0.7);
}
/* about section start here  */
.about_container {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.about-text h4 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffcb45;
}
.about-text h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 481px;
  color: #1d1d1d;
  margin-bottom: 32px;
}
.about-card {
  width: 452px;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
}
.about-card p {
  margin-top: 24px;
  width: 412px;
  height: 69px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(29, 29, 29, 0.7);
}
.about-card-name {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;

  /* black */

  color: #1d1d1d;
}
.about-review {
  margin-top: 12px;
}
.about-card i {
  width: 18px;
  color: #ffcb45;
}

/* joint our member section start here  */
.joint-member-container {
  width: 1180px;
  height: 332px;
  left: 130px;
  margin: 80px auto;
  top: 2579.54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../Assets/Images/unsplash_2lWGQ02DGL8.png);
  border-radius: 10px;
  flex-direction: column;
}
.joint-member-container h2 {
  width: 524px;
  height: 80px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

/* ****** Main Section Style end Here  ****** */

/* footer style start here  */
footer {
  background-image: url(../Assets/Images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-container {
  padding-top: 95px;
  padding-bottom: 50px;
}
.footer-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.footer-content p {
  width: 380px;
  height: 50px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: rgba(29, 29, 29, 0.7);
}
.social_media {
  margin-top: 32px;
  display: flex;
  gap: 10px;
}
.social_media span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 45px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(29, 29, 29, 0.15);
  border-radius: 31px;
}
.social_media {
  color: #1d1d1d;
}
.footer-content h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  color: #1d1d1d;
}

.footer-content h5 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  color: rgba(29, 29, 29, 0.7);
}
